.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerText {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.headerText h1 {
  font-size: 24px;
  font-weight: 600;
}
